@use "sass:math";

// Fonts
// @import url('https://fonts.bunny.net/css?family=Nunito');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


//////////////////// Universal /////////////////////
:root {
    --92px: 5.775rem;
    --72px: 4.5rem;
    --64px: 4rem;
    --56px: 3.5rem;
    --48px: 3rem;
    --40px: 2.5rem;
    --32px: 2rem;
    --24px: 1.5rem;
    --20px: 1.25rem;
    --15px: 0.9375rem
}

//////////////////// Universal /////////////////////





//////////////////// Fonts /////////////////////
$font-family-sans-serif: "Inter", sans-serif;

a:link {
    color: black;

    &:hover {
        color: rgb(247, 13, 177);
    }
}

h1.rem {
    font-size: var(--92px);
}

h2.rem {
    font-size: var(--72px);
}

h3.rem {
    font-size: var(--64px);
}

h4.rem {
    font-size: var(--56px);
}

h5.rem {
    font-size: var(--48px);
}

h6.rem {
    font-size: var(--40px);
}

h7.rem {
    font-size: var(--32px);
}

h8.rem {
    font-size: var(--24px);
}

h9.rem {
    font-size: var(--20px);
}

h10.rem {
    font-size: var(--15px);
}






//stoping my fonts frombeing this wierd gray color once and for all
h1,
h2,
h3,
h4,
h5,
h6,
h7,
h8,
h9,
h10 {
    color: black !important;
}

//////////////////// Fonts /////////////////////

// Variables
@import 'variables';

/////////////////// pretty colors /////////////////////

$kikiGray: #888888;
$bgGray: #636564;
/////////////////// pretty colors /////////////////////


/// //////////////////// Defualt Containers /////////////////////




$MainContainerHeight: 62.5rem; // 1000px
$MainContainerWidth: 305rem; // 1680px 

// Height based on main container
// Half of main container
$halfMcHeight: math.div($MainContainerHeight , 2); // 31.25rem
$halfMcWidth: math.div($MainContainerWidth , 2); // 52.5rem

// Quarter of main container
$quarterMcHeight: math.div($halfMcHeight , 2); // 15.625rem
$quarterMcWidth: math.div($halfMcWidth , 2); // 26.25rem

// Height based on me
$MEhalfMcHeight: 1.25rem; // 20px 
$MEhalfMcWidth: 12.5rem; // 200px 

$HandHeldScreenHeight: 64rem; // 1024px 
$HandHeldScreenWidth: 64rem; // 1024px

$smallScreenHeight: 64rem; // 1024px 
$smallScreenWidth: 37.5rem; // 600px 

// Bootstrap
@import 'bootstrap/scss/bootstrap';









.darkmode {
    width: 100vw;
    height: 100vh;
    background-color: #636564;
}






//background
.bgContainer {
    width: 100%;
    height: 100%;
    // background-image: url('/images/SPOILER_op_1134_owl_002.png'); 
    background-size: cover;
    background-position: center; //keep this for responiveness
    background-repeat: no-repeat;
}

//nav bar
.navBarContainer {
    margin-left: 3.75rem; // 60px
    margin-right: 3.75rem; // 60px
    min-height: 6.25rem; // 100px
    max-width: 112.5rem; // 1800px
    min-width: 12.5rem; // 200px
    border: 2px solid rgb(0, 26, 255);

    @media (max-width: 1024px) {
        margin-left: 1.25rem; // 20px
        margin-right: 1.25rem; // 20px
        max-width: $HandHeldScreenWidth;
        max-height: $HandHeldScreenHeight;
        border: 2px solid rgb(255, 230, 0);
    }

    @media (max-width: 667px) {
        // 667px
        margin-left: 0.625rem; // 10px
        margin-right: 0.625rem; // 10p
        max-width: $smallScreenWidth;
        max-height: $smallScreenHeight;
        border: 2px solid rgb(0, 255, 42);
    }


}


.MainContainer {
    // background-color: #636564;
    margin-left: 7.5rem; // 120px
    margin-right: 7.5rem; // 120px
    min-height: $MainContainerHeight;
    max-width: $MainContainerWidth;
    min-width: 200px;
    border: 2px solid rgb(255, 0, 0);

    @media (max-width: 1024px) {
        margin-left: 2.5rem; // 40px
        margin-right: 2.5rem; // 40px
        max-width: $HandHeldScreenWidth;
        max-height: $HandHeldScreenHeight;
        border: 2px solid rgb(255, 230, 0);
    }

    @media (max-width: 667px) {
        margin-left: 1.25rem; // 20px
        margin-right: 1.25rem; // 20px
        max-width: $smallScreenWidth;
        max-height: $smallScreenHeight;
        border: 2px solid rgb(0, 255, 42);
    }
}


.cart {
    max-width: $HandHeldScreenWidth;
    max-height: $HandHeldScreenHeight;
    border: 2px solid rgb(0, 140, 255);
}

.halfMc {
    //not responsive
    min-height: $MEhalfMcHeight;
    max-width: $halfMcWidth;

    //responsive
    // min-height: ;
    // max-width: ;
    border: 2px solid rgb(0, 0, 0);


}

.quarterMc {
    //not responsive
    min-height: $quarterMcHeight;
    max-width: $quarterMcWidth;

    //responsive
    // min-height: ;
    // max-width: ;
    border: 2px solid rgb(0, 255, 76);

}

img {
    //not responsive
    min-height: $halfMcHeight;
    max-width: $halfMcWidth;

    //responsive
    // min-height: ;
    // max-width: ;

    &:hover {
        filter: grayscale(50%);
    }
}

video {
    //not responsive
    min-height: $halfMcHeight;
    max-width: $halfMcWidth;

    //responsive
    // min-height: ;
    // max-width: ;

    &:hover {
        filter: grayscale(50%);
    }

}


//////////////////// Containers /////////////////////


//////////////////// cool effects /////////////////////
//hover over a box that has words in it and the box will turn [insert color1] and the text will change to [insert color2]


.box {
    min-height: 100px;
    max-width: 100px;
    border: 2px solid rgb(0, 255, 76);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    color: black;
    transition: all 0.3s ease;

    &:hover {
        background-color: green; //insert color 1
        color: white; //insert color 2
    }
}





